@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.detail {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {

    .detail-header {
      color: #709FDC;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 60px;

      span {
        color: #B9D5FD;
      }
    }

    .detail-content-basic {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      .detail-content-basic-text {

        .detail-content-basic-title {
          max-width: 607px;
          @include head-lora-38;
          line-height: 130%;
          margin-bottom: 40px;
        }

        .detail-content-basic-description {
          max-width: 607px;
          color: $blue-text-color;
          font-size: 20px;
          line-height: 130%;
        }
      }

      .detail-content-basic-image {
        width: 527px;
        height: 320px;
        background-size: cover;
        background-position: center;
      }
    }

    .detail-content {
      display: flex;
      justify-content: space-between;

      .detail-content-text {

        margin-right: 130px;

        .detail-text {
          margin-bottom: 60px;

          h1 {
            color: $blue-text-color;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            margin-bottom: 20px;
          }

          p {
            color: $black-text-color;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-bottom: 20px;
          }

          h3 {
            color: $blue-text-color;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            margin-top: 40px;
            margin-bottom: 20px;
            padding: 0;

            &:first-child {
              margin-top: 0;
            }
          }
        }

        .detail-social {
          display: flex;
          align-items: center;
          margin-bottom: 60px;

          .detail-social-text {
            color: $blue-text-color;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            margin-right: 20px;
          }

          a {
            margin-right: 13px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .detail-comments {

          .detail-comments-title {
            @include head-lora-38;
          }

          .detail-comments-signup {
            color: $black-text-color;
            font-size: 14px;
            margin-top: 20px;

            span {
              color: $blue-text-color;
              cursor: pointer;
            }
          }

          .detail-comments-action {

            .detail-comments-action-text {
              color: $black-text-color;
              font-size: 14px;
              margin-top: 20px;
            }

            textarea {
              padding: 20px;
              color: $black-text-color;
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              border-radius: 3px;
              border: 2px solid #709FDC;
              background: #FFF;
              box-sizing: border-box;
              resize: none;
              margin-top: 40px;
              margin-bottom: 20px;

              //&:focus-visible {
              //  border: 2px solid #709FDC;
              //}
            }

            .button {
              width: 342px;
            }
          }

          .detail-comments-cards {
            margin-top: 60px;

          }

          .detail-download-text {
            display: flex;
            align-items: center;
            margin-top: 60px;
            cursor: pointer;

            span {
              color: $blue-text-color;
              font-family: 'Montserrat', sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              margin-right: 10px;
            }
          }

        }
      }

      .detail-content-article {
        margin-top: 60px;

        span {
          color: $blue-text-color;
          font-family: 'Lora', sans-serif;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          margin-bottom: 20px;
          display: inline-block;
        }
      }
    }
  }
}

.article-card {
  margin-bottom: 60px;
}
